@import 'vars.styl';

.container-banner-inicial{
    padding: 5em 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 1.375em;
        position: relative;
        z-index: 2;
    }
    .container-texto{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125em;
        font-weight: normal;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: relative;
        z-index: 2;
    }
}

.container-banner-catalogos{
    font-size: 16px;
    padding: 4em 0;
    .container-banner{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: fit-content;
        margin-bottom: 3.125em;
        .container-pequeno{
            display: flex;
            justify-content: space-between;
            padding: 2em 8% 2em 20%;          
            .container-inicial{
                min-width 180px;
                h1{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.625em;
                    font-weight: 800;
                    line-height: 1.54;
                    letter-spacing: normal;
                    text-align: left;
                    text-transform uppercase;
                    color: #040404;
                    margin-bottom: 0.375em;
                    max-width: 270px;
                }
                .descricao{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.5em;
                    font-weight: normal;
                    line-height: 1.78;
                    letter-spacing: normal;
                    text-align: left;
                    color: #040404;
                }
            }
            .carrossel-catalogos-pai{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .seta{
                    cursor pointer;
                    width: 42px;
                    height: 42px;                 
                    padding: 15px;
                    margin: 0 1em;
                    border-radius: 21px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
                    background-color: #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition .3s all ease-in;
                    img{
                        min-width: 13px;
                        min-height: 22px;
                    }
                }
                .disable{
                    opacity: 0.5;
                    cursor: not-allowed;

                }
                .carrossel-catalogos-filho{
                    display: flex;      
                    justify-content: space-around;                   
                    height: 100%;  
                    min-height: 300px;
                    width: 800px;     
                    .slick-list{
                        height 100%;
                        width: 100%;
                        .slick-track{
                            height 100%;
                        }
                    }                 
                    .card-catalogo{
                        min-width 300px;
                        width 320px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        text-align center;
                        font-size: 16px;
                        margin-right: 0.5em;
                        img{
                            max-width: 143px;  
                            margin-right: 0.5em;                          
                        }
                        .conteudo{
                            h1{
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1.125em;
                                font-weight: 800;
                                line-height: 1.78;
                                letter-spacing: normal;
                                text-align: left;
                                text-transform uppercase;
                                color: #ffffff;
                            }
                            p{
                                font-family: 'Open Sans', sans-serif;                           
                                font-weight: normal;
                                line-height: 1.78;
                                letter-spacing: normal;
                                text-align: left;
                                color: #ffffff;
                            }
                            .ano{
                                font-size: 1.125em;
                                text-transform uppercase;
                                margin-bottom: 1.5em;
                            }
                            .botao-ver-online, .botao-baixar{                                
                                p{
                                    font-size: 1.25em;
                                    border-bottom: 1px dotted #fff;
                                    width: fit-content;
                                    margin-top: 0.5em;
                                }
                            }
                        }
                    }               
                }
            }
        }
    }
}

@media(max-width: 1600px){ 
    .container-banner-catalogos .container-banner .container-pequeno{
        padding: 2em 5% 2em 15%;
    }
}

@media(max-width: 1380px){ 
    .container-banner-catalogos .container-banner .container-pequeno .carrossel-catalogos-pai .carrossel-catalogos-filho{
        width: 600px;
    }
}

@media(max-width: 1100px){ 
    .container-banner-catalogos .container-banner .container-pequeno .carrossel-catalogos-pai .carrossel-catalogos-filho{
        width: 400px;
    }
}

@media(max-width: 950px){ 
    .container-banner-catalogos .container-banner .container-pequeno {
        .container-inicial{
            font-size: 14px;
        }
        .carrossel-catalogos-pai .carrossel-catalogos-filho{
            width: 280px;
            .card-catalogo{
                min-width: 250px;
            } 
        }
    }
}

@media(max-width: 700px){ 
    .container-banner-catalogos .container-banner .container-pequeno{
        flex-flow column;
        justify-content: center;
        padding: 2em 5% 2em 10%;
        .container-inicial {
            h1{
                max-width: 100%;
            }
            .descricao{
                margin-bottom: 2rem;
            }
        }
        .carrossel-catalogos-pai .carrossel-catalogos-filho{
            min-height: fit-content;
        }        
    }
}

@media(max-width: 500px){
    .container-banner-catalogos .container-banner .container-pequeno{
        padding: 2em;
        .carrossel-catalogos-pai {
            .seta{
                margin: 0 0.5em;
            }
            .carrossel-catalogos-filho .card-catalogo{
                font-size: 15px;
            }
        }           
    }
}

@media(max-width: 400px){
    .container-banner-catalogos .container-banner .container-pequeno {
        padding: 1em;
        .container-inicial{
            font-size: 12.5px;
        }
        .carrossel-catalogos-pai {
            .seta{
                width: 32px;
                height: 32px;
                img{
                    min-width: 12px;
                    min-height: 12px;
                }
            }
            .carrossel-catalogos-filho{
                width: 250px;
                max-height: 250px;
                .card-catalogo {
                    .conteudo .ano{
                        margin-bottom: 1em;
                    }
                    img{
                        max-width: 110px;
                    }
                }                
            }
        }        
    }
    
}

@media(max-width: 375px){
    .container-banner-catalogos .container-banner .container-pequeno .carrossel-catalogos-pai{
        justify-content: center;
        .seta{
            margin: 0;
        }
        .carrossel-catalogos-filho{
            max-height: 200px;
        }
    }
}

