@import 'vars.styl';

.container-banner-inicial{
    padding: 5em 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 1.375em;
        position: relative;
        z-index: 2;
    }
    .container-texto{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125em;
        font-weight: normal;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: relative;
        z-index: 2;
    }
}

.container-informacoes-contato{
    border-top: 7px solid #19996c;
    .container-medio{
        display: flex;
        justify-content: space-around;
        .container-formulario{
            width: 48%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 4em 0;
            form{
                .linha{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .vazia{
                        width: 1em;
                    }
                }
                .container-input-upload {
                    opacity: 0;
                    position absolute;
                    top: 0;
                    left: 0;
                    z-index: -99;
                    transition .4s all;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;                    
                    align-items: flex-start;
                    width 0%;
                    padding: 0.5em 0.5em 0 1em !important;
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: normal;
                        line-height: 1.33;
                        letter-spacing: normal;
                        text-align: left;
                        color: #bababa;
                    }
                    input {
                        display: none;
                    }
                    #arquivo-anexado {                        
                        texto_generico(0.8em, $azul_01, 1.89, 400);
                        margin: 0.5em 0;
                    }
                    .linha{
                        width: 100%;
                        justify-content: space-between;
                    }
                    .botao{
                        padding: 0.5em 1em;
                    }
                }
                .ativo{
                    opacity: 1;
                    z-index: 5;
                    position relative;
                    width 100%;
                }
                input, textarea, select, .container-input-upload{
                    padding: 1em;
                    border: solid 2px #e4e4e4;
                    background-color: #ffffff;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.125em;
                    font-weight: normal;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #bababa;
                    width 100%;
                    margin-bottom: 0.8em;
                }
                ::placeholder{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.125em;
                    font-weight: normal;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #bababa;
                }
                .botao{
                    padding: 1em 4em;
                    background-color: #19996c;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                }
            }
        }
        .container-contatos{
            width: 48%;
            padding: 4em 0;
            display: flex;
            justify-content: space-around;
            .container-informacoes{
                max-width: 320px;
                width: fit-content;
                .container-informacoes-iniciais{
                    .informacao{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: normal;
                        line-height: 1.33;
                        letter-spacing: normal;
                        text-align: left;
                        color: #040404;
                        margin-bottom 1.875em;
                        strong{
                            text-transform uppercase;
                            font-weight: bold;
                        }
                    }
                    .container-redes{
                        display: flex;
                        justify-content: space-around;
                        width: 200px;
                        img{
                            max-width 21px;
                        }
                    }
                }                
            }
            .container-outras-informacoes{
                max-width: 216px;
                width: fit-content;
                .container-informacao{
                    margin-bottom: 1.875em;
                    h1{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: bold;
                        line-height: 1.44;
                        letter-spacing: normal;
                        text-align: left;
                        text-transform uppercase;
                        color: #040404;
                        margin-bottom: 0.3em;
                    }
                    .linha{
                        display: flex;
                        margin-bottom: 0.5em;
                        img{
                            max-width: 24px;
                            min-width: 24px;
                            margin-right: 0.5em;
                        }
                        p{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.125em;
                            font-weight: normal;
                            line-height: 1.44;
                            letter-spacing: normal;
                            text-align: left;
                            color: #040404;
                        }
                    }
                }
            }
        }
    }
}

.container-faq{
    padding: 6em 0;
    .container-padrao{
        display: flex;
        justify-content: space-between;
        .container-inicial{
            display flex;
            flex-flow: column;
            justify-content: flex-start;
            img{
                max-width: 114px;
                margin-bottom 1.75em;
                align-self: flex-start;
            }
            h2{
                max-width: 180px;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.75em;
                font-weight: 800;
                line-height: 1.21;
                letter-spacing: normal;
                text-align: left;
                color: #040404;
                margin-bottom 1.1875em;
            }
            .texto{
                max-width: 270px;
                font-family: 'Open Sans', sans-serif;
                font-size: 1em;
                font-weight: normal;
                line-height: 1.38;
                letter-spacing: normal;
                text-align: left;
                color: #040404;
            }
        }
        .container-perguntas{
            width: 70%;
            .opcao {
                width: 100%;
                .container-selected {
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    padding: 1.5rem;
                    border: 2px solid #dddddd;
                    border-width: 2px 2px 0 2px;
                    h3 {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1em;
                        font-weight: 800;
                        line-height: 1.38;
                        letter-spacing: normal;
                        text-align: left;
                        color: #19996c;
                    }
                    .container-seta {
                        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
                        background-color: #ffffff;
                        padding: 10.5px;
                        border-radius 21px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {                            
                            transform: rotate(180deg);
                            transition: all .8s;
                            object-fit: contain;
                            height: 14px;
                            width: 13px;
                            &.dropdown-ativo {
                                transform: rotate(0deg);
                            }
                        }
                    }
                }
                .container-options {
                    width: 100%;
                    max-height: 0px;
                    overflow-y: hidden;
                    transition: all .4s;    
                    border: 2px solid #dddddd;
                    border-width: 0 2px 0 2px;                
                    .container-resposta{
                        padding: 2em;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1em;
                        font-weight: normal;
                        line-height: 1.38;
                        letter-spacing: normal;
                        text-align: left;
                        color: #7f7f7f;
                    }
                    &.dropdown-ativo {
                        max-height: 900px;
                    }
                }
            }
        }
    }
}

.container-map-pai{
    width: 100%;
    height: 507px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow column;
    justify-content: center;
    align-items: center;
    .container-conteudo{
        display: flex;
        flex-flow column;
        justify-content: center;
        position relative;
        .logo{
            margin-top 2em;
        }
        .card-informacoes{
            padding 2em;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);
            background-color: #ffffff;
            width: 380px;
            position: relative;
            .informacao{
                display: flex;
                align-items: center;
                margin-bottom 1.25em;
                img{
                    margin-right 0.625rem;
                    max-width: 13px;
                }
                p{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 0.8125em;
                    font-weight: normal;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000000;
                    max-width: 160px;
                }
            }   
            .pointer{
                width: 50px;
                position: absolute;
                bottom: -25px;
                left: 45%;
            }     
        }
    }    
}

@media(max-width: 900px){
    .container-informacoes-contato .container-medio{
        .container-formulario{
            font-size: 14px;
        }
        .container-contatos{
            font-size: 14px;
            .container-informacoes{
                margin: 0 1em; 
            }
        }
    }

    .container-faq .container-padrao{
        .container-inicial{
            font-size: 14px;
        }
        .container-perguntas{
            width: 60%;
            font-size: 14px;
        }
    }
}   

@media(max-width: 820px){
    .container-informacoes-contato .container-medio{
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .container-formulario{
            width: 80%;
        }
        .container-contatos{
            width: 80%;
            padding: 1em 0;
            justify-content: space-between;
            .container-informacoes{
                margin: 0; 
            }
        }
    }
}

@media(max-width: 600px){
    .container-informacoes-contato .container-medio{        
        .container-formulario{
            width: 100%;
        }
        .container-contatos{
            width: 100%;
        }
    }
    .container-faq .container-padrao{
        justify-content: center;
        align-items: center;
        flex-flow: column;
        .container-inicial{
            margin-bottom: 2em;
            h2{
                max-width: 100%;
            }
            .texto{
                max-width: 100%;
            }
        }
        .container-perguntas{
            width: 100%;
        }
    }    
}

@media(max-width: 425px){
    .container-map-pai .container-conteudo .card-informacoes{
        width: 300px;
        .pointer{
            left: 40%;
        }
    }
}

@media(max-width: 375px){
    
    .container-informacoes-contato .container-medio {
        .container-formulario form .linha{
            flex-flow: column;
        }
        .container-contatos{
            flex-flow: column;
            .container-informacoes{
                margin: 0 0 3em 0;
            }
        }
    }
    
}



