@import 'vars';

.receba-novidades{
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 0;
    border-top 12px solid #19996c;
    .container-padrao{ 
        position: relative;
        z-index: 2;
        .textos{
            margin-bottom: 20px;
            h1{
                font-family: 'Open Sans', sans-serif;
                font-size: 2.375em;                
                font-weight: bold;
                line-height: 1.24;
                letter-spacing: normal;
                text-align: left;
                color: #040404;
                margin-bottom: 0.5em;
            }    
            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 1.25em;
                font-weight: normal;
                line-height: 1.35;
                letter-spacing: normal;
                text-align: left;
                color: #040404;
            }
        }
        form{
            display: flex;
            position: relative;
            z-index: 2;
            align-items: center;
            flex-wrap: wrap;
            input{
                height: 49px;
                width: 398px;
                border: solid 2px #040404;
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                font-weight: normal;
                line-height: 1.35;
                letter-spacing: normal;
                text-align: left;
                color: #040404;
                padding: 8px;
                margin-right: 20px;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0.15), #ffffff 55%);
            }
            button{
                background-color: #19996c;
                padding: 8px;
                height: 49px;
                width: 173px;
                color: $branco;
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                margin: 1rem 0;
            }
            p{
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                margin-left: 10px;
                &.error{
                    color darkred;
                }
                &.success{
                    color green;
                }
            }
        }
    }
}

footer {
    height: fit-content;
    width: 100%;
    background-color: #19996c;
    position: relative;
    padding: 6.25em 5% 4rem 5%;
    min-height 300px;
    font-size: 16px;
    .container-conteudo{
        height: fit-content;
        width: 100%;
        .container-medio{                
            height: fit-content;        
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            h1 {
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                font-weight: bold;
                line-height: 1.44;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
                text-transform uppercase;
                margin-bottom: 1em;
            }
            .container-inicial{
                height: fit-content; 
                width: fit-content; 
                margin 0 0.5rem;
                img{
                    max-width: 160px;
                    max-height: 64px;
                    margin-bottom: 3em;
                }
                .container-idiomas{
                    min-width 123px;
                    display: flex;
                    justify-content: space-between;
                    a{                  
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 1.44;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                    }
                }
            }
            .container-navegacao{  
                width: fit-content; 
                margin 0 0.5rem;
                .lista-itens{
                    max-width: 150px;
                    display: flex;
                    flex-flow: column;
                    a{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                        margin-bottom: 1.3125em;
                    }
                }
            }
            .container-categorias {         
                width: fit-content; 
                margin 0 0.5rem;    
                .todas-categorias{
                    max-width: 150px;
                    display: flex;
                    flex-flow: column;
                    a {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 0.875em;
                        font-weight: bold;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                        margin-bottom: 1.3125em;
                    }
                }                
            }
            .container-contatos{
                width: fit-content; 
                margin 0 0.5rem; 
                .todos-contatos{
                    display: flex;
                    flex-flow: column;
                    .contato, .email{
                        display: flex;                        
                        margin-bottom: 1.125em;
                        img{
                            max-width: 19px;
                            margin-right: 0.625em;
                        }
                        p{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 0.875em;
                            font-weight: normal;
                            font-style: normal;
                            line-height: 1.86;
                            letter-spacing: normal;
                            text-align: left;
                            color: #ffffff;
                        }
                    }
                }
            }
            .container-outros-contatos{
                width: fit-content; 
                margin 0 0.5rem;
                .endereco, .atendimento{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.125em;
                    font-weight: normal;
                    font-style: normal;
                    line-height: 1.56;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                    margin-bottom: 3.125em;
                }
                .redes{
                    display; flex;                    
                    .rede{
                        padding-right: 2em;
                        img{
                            max-width: 21px;
                            min-width: 10px;
                        }
                    }
                }
                .logo-ja{
                    margin-top: 3.125em;
                    min-width: 200px;
                    max-width: 251px;
                }
            }
            .botao-inicio{    
                min-width: 100px; 
                margin 0 0.5rem;
                .scroll-top{
                    cursor pointer;
                    border-radius: 26px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
                    background-color: #ffffff;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    width: 52px;
                    transition: .3s all;     
                    margin-top: 3em;
                    img{
                        transform: rotate(90deg);     
                        padding: 1em 1.2em;                 
                    }
                    p{                        
                        opacity: 0;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 0em;
                        font-weight: bold;
                        line-height: 1.44;
                        letter-spacing: normal;
                        text-align: left;
                        color: #19996c;
                        transition: .3s all;     
                        padding: 0 .5em.5em.5em;                 
                    }                    
                }
                &:hover{
                    p{                        
                        opacity: 1;
                        font-size: 1.125em;
                    }
                }
            }
        }
    }      
}

.container-ultimo {
    width: 100%;    
    padding: 1rem 0;
    background-color: #ffffff;
    .container-medio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .texto {
            p,
            a {
                font-family: 'Open Sans', sans-serif;
                font-size: 0.875em;
                font-weight: bold;
                line-height: 1.36;
                letter-spacing: normal;
                text-align: center;
                color: #19996c;
            }
        }
        .container-nossas-marcas {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 30%;
            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 0.875em;
                font-weight: 800;
                line-height: 1.36;
                letter-spacing: normal;
                text-align: left;
                color: #888888;
                text-transform uppercase;
            }
            img {
                max-width: 76px;
                max-height: 45px;
            }
        }
    }
}

@media(max-width: 1200px){
    .container-ultimo .container-medio {
        flex-wrap: wrap;
        justify-content: center;
        .container-nossas-marcas{
            margin: 0 10px 20px 0;
            flex-wrap: wrap;
            p{
                white-space: nowrap;
            }
            img{
                margin: 0 15px;
            }
        }
        
    }
    
}

@media(max-width: 425px){
    footer .container-conteudo .container-medio {

        .container-categorias{
            display: none;
        }
        .container-contatos{
            margin: 1rem 0;
        }
        .container-outros-contatos{
            margin: 1rem 0;
        }
    }
    

}

@media(max-width: 425px){
    footer .container-conteudo .container-medio .container-navegacao{
        margin: 2rem 0 1rem 0;
    }
}








