@import 'vars.styl';

.carrossel-inicial-pai{    
    .carrossel-inicial{
        margin-bottom: 0px !important;
        .slick-dots{
            bottom: 0;
            li{
                width: 50px;
                height: 50px;                
                button{
                    width: 20px;
                    height: 20px;                                        
                    &:before{
                        position relative;
                        opacity: 1;                        
                        font-size: 14px;
                        line-height: 30px;
                        border 3px solid white;
                        border-radius: 21px;
                        background-color white;
                        color: white;  
                    }
                }                
            }
            .slick-active{
                button{
                    width: 20px;
                    height: 20px;
                    color: white;                   
                    &:before{
                        position relative;
                        opacity: 1;
                        color: $verde01;  
                        background-color $verde01;  
                        border 3px solid white;   
                        border-radius: 21px;                  
                    }
                }
            }
        }
        .container-carrossel{
            height: 746px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;            
            .container-banner{
                height: 100%;
                width: 100%;
                border-bottom: 7px solid $verde01;  
                .setas{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding 0 5%;
                    height: 100%;
                    width: 100%;
                    .seta{
                        cursor pointer;
                        width: 42px;
                        height: 42px;                 
                        padding: 10px;
                        border-radius: 21px;
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
                        background-color: #ffffff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .container-conteudo{
                        margin-right: 35%;
                        background-color:rgba(255,255,255,0.75);
                        font-size: 16px;
                        padding: 3em;
                        h1{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 2em;
                            font-weight: 800;
                            line-height: 1.34;
                            letter-spacing: normal;
                            text-align: left;
                            color: #040404;
                            margin-bottom: 1em;
                        }
                        p{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.25em;
                            font-style: normal;
                            line-height: 1.35;
                            letter-spacing: normal;
                            text-align: left;
                            color: #040404;
                        }
                    }                    
                }                
            }
        }
    }
}

.sessao-video{
    .container-medio{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: fit-content;
        padding: 3em 5%;
        .container-video{
            margin: 3.75em 0;
            max-width 50%;
            width 788px;
            height 454px;
            iframe{
                width: 100%;
                height 100%;
            }
        }
        .container-texto{
            width 715px;
            max-width: 50%;
            display: flex;
            flex-flow column;
            justify-content: center;
            align-items: center;
            .texto{
                p{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 2.625em;                
                    line-height: 1.36;
                    font-weight: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #19996c;
                    strong{
                        font-weight: 800;
                    }
                }
            }            
        }
    }
}

.container-ultimos-lancamentos{
    background-color: #f8f8f8;
    padding: 3em 0;
    font-size: 16px;
    .container-pequeno{        
        h1{
            font-family: 'Open Sans', sans-serif;
            font-size: 1.375em;
            font-weight: bold;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: center;
            color: #040404;
            text-transform uppercase;
            margin-bottom: 3em;
        }
        .carrossel-lancamentos-pai{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .seta{
                cursor pointer;
                width: 42px;
                height: 42px;                 
                padding: 15px;
                margin: 0 1em;
                border-radius: 21px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    min-width: 13px;
                    min-height: 22px;
                }
            }
            .carrossel-lancamentos-filho{
                display: flex;      
                justify-content: space-around;                   
                height: 100%;  
                min-height: 341px;
                width: 1280px;                     
                .card-produto{
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    text-align center;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    background-color: #ffffff;
                    margin: 0 0.6em;
                    padding: 1em;       
                    transition .3s all;
                    height 300px;
                    max-width 270px;
                    h2{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: bold;
                        line-height: 1.33;
                        text-align: center;
                        color: #19996c;
                        margin-bottom: 4px;
                    }
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        line-height: 1.33;
                        letter-spacing: normal;
                        text-align: center;
                        color: #7f7f7f;                        
                    }   
                    img{
                        max-height 200px;
                    }
                    &:hover{ 
                        transform: translateY(-10px);   
                        border-width: 0 0 5px 0; 
                    }                                 
                }                
            }
        }
    }
}

.container-nossos-produtos{
    padding: 3em 0;
    font-size: 16px;
    .cabecalho{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        h1{
            font-family: 'Open Sans', sans-serif;
            font-size: 1.875em;
            font-weight: 800;
            line-height: 1.37;
            letter-spacing: normal;
            text-align: center;
            color: #19996c;
            margin-bottom: 0.625em;
        }
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 1.5em;
            font-weight: 600;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: center;
            color: #19996c;
            margin-bottom: 3em;
        }
    }
    .container-categoria-produtos{
        background-color: #ffffff;
        margin-bottom: 2.5em
        .container-pequeno{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .card-categoria{
                width: 194px;
                height: 194px;
                min-width: 194px;
                min-height: 194px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                img{
                    max-width: 93px;
                    max-height: 65px;
                    margin-bottom 2.75em;
                }
                p{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    font-weight: 800;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ffffff;
                }
            }            
        }
    }
    .container-botao{
        .container-pequeno{
            display: flex;
            justify-content: center;
            align-items: center;
            .botao{
                background-color: #19996c;
                padding 1em 3em;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.125em;
                font-weight: bold;
                line-height: 1.33;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
            }
        }
    }
}

.container-redes-sociais{
    font-size: 16px;
    padding: 2em 0;
    .container-medio{
        .titulo{
            font-family: 'Open Sans', sans-serif;
            font-size: 30px;
            font-weight: normal;
            line-height: 1.37;
            letter-spacing: normal;
            text-align: center;
            color: #19996c;
            margin-bottom: 2.625em;
            strong{
                font-weight: bold;
            }
        }
        .todas-redes{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .card{
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 398px;
                height: 455px;
                display: flex;
                flex-flow: column;
                justify-content: flex-end;
                align-items: center;
                cursor: pointer;
                &:hover{                                       
                    .card-conteudo{                        
                        background-color: #ffffff;      
                        padding: 3em 4em 1.5em 4em;                  
                    }                    
                }
                .card-conteudo{
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    padding: 1.5em 4em;
                    min-width: 326px;
                    transition .3s all;
                    .texto{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.75em;
                        font-weight: bold;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                        margin-bottom: 1.625em;
                    }
                    .botao{
                        display: flex;
                        justify-content: center;
                        align-items: center;   
                        padding: 0.5em 1em;                       
                        p{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 1.33;
                            letter-spacing: normal;
                            text-align: left;
                            color: #ffffff;
                            margin-right: 8px;
                        }
                        img{
                            max-width: 17px;
                            max-height: 17px;
                        }                        
                        #logo-colorida-youtube{
                            opacity: 0;
                            display none;
                        }
                    }
                }                
            }
            .card-facebook{
                .botao{    
                    border-radius: 3px;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    background-color: #ffffff;       
                    padding: 0.5em 1em;  
                    p{
                        color: #4267b2 !important;   
                    }                                    
                }
                &:hover{
                    .card-conteudo{                        
                        .texto{                            
                            color: #4267b2;                            
                        }
                    }
                }
            }
            .card-instagram{
                .botao{    
                    border-radius: 3px;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    background-image: linear-gradient(77deg, #f99f52 -4%, #c91143 106%);                                       
                }
                &:hover{
                    .card-conteudo{                        
                        .texto{                            
                            color: #da4348;                            
                        }
                    }
                }
            }
            .card-youtube{                
                .botao{    
                    border-radius: 3px;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    border: solid 2px #ffffff;                                    
                }
                &:hover{
                    .card-conteudo{      
                        .texto{
                            color: #e01d1d;        
                        }                 
                        .botao{
                            border: solid 2px #e01d1d; 
                            p{
                                color: #e01d1d;        
                            }
                            #logo-colorida-youtube{
                                opacity: 1;      
                                display block;                          
                            }
                            #logo-branca-youtube{
                                opacity: 0;
                                display none;
                            }
                        }
                    }
                }
            }
            .card-pinterest{
                .botao{    
                    border-radius: 20px;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    background-color: #ffffff;  
                    p{
                        color: #f40000 !important;  
                    }                                
                }
                &:hover{
                    .texto{
                        color: #f40000;
                    }
                }
            }
        }
    }
}

.container-ultimas-noticias{
    padding: 8.75em 0;
    .container-padrao{
        h1{
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
            font-weight: bold;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: center;
            color: #040404;
            text-transform uppercase;
            margin-bottom: 3.25em;
        }
        .container-noticias{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            .container-card-noticia{
                padding: 0.8125em;
                background-color: #ffffff;
                transition .3s all;
                width: fit-content;
                width: 380px;                
                .imagem{
                    width: 100%;
                    height: 233px;
                    border-bottom 5px solid #19996c;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 2.25em;
                }
                h1{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.125em;
                    font-weight: bold;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #040404;
                    margin-bottom 1em;
                }
                .breve-resumo{
                    width: 100%;
                    height: 88px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1em;
                    font-weight: normal;
                    line-height: 1.38;
                    letter-spacing: normal;
                    text-align: left;
                    color: #7f7f7f;
                    text-overflow: ellipsis;
                    overflow: hidden;                    
                    margin-bottom 1.3125em;
                }
                .botao{
                    width: 100%;
                    margin-bottom 1em;
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1em;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.38;
                        letter-spacing: normal;
                        text-align: left;
                        text-transform uppercase;
                        color: #040404;
                    }
                }
                &:hover{
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                }
            }
        }
    }
}

.container-todos-depoimentos{
    padding: 3em 0 4em 0;
    font-size 16px;
    .container-pequeno{
        h1{
            font-family: 'Open Sans', sans-serif;
            font-size: 1.375em;
            font-weight: bold;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: center;
            color: #040404;
            padding: 2em 0;
            text-transform: uppercase;
        }
        .container-carrossel-pai{
            width: 100%;
            height: fit-content;
            display flex;
            .container-carrossel-filho{
                padding: 2em
                .slick-list{
                    height 100%;
                    .slick-track{
                        height 100%;
                    }
                } 
                .container-frase-cliente{
                    display: flex;
                    width: 100%;
                    height: 381px;
                    position: relative;            
                    border: 5px solid #19996c;
                    border-width: 5px 5px 5px 5px;    
                    .icone-aspas{
                        position: absolute;
                        top: -50px;
                        left: -12px;
                        background-color: #fff;
                        z-index: 99;
                        padding: .5em 1em .5em 0;         
                        img{
                            position relative;
                            min-width: 48px;    
                        }
                    }  
                    .texto {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 2.375em;
                        font-weight: bold;
                        line-height: 1.53;
                        letter-spacing: normal;
                        text-align: center;
                        color: #040404;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-transform uppercase;
                    }
                    .icone-seta{
                        position: absolute;
                        bottom: -15%;
                        left: 52%;
                        background-color: white;
                        height: fit-content;
                        width: fit-content;
                    }
                }
                .container-pos-frase{
                    padding 3em 0;
                    width 100%;
                    display: flex;
                    justify-content: space-between;
                    .container-setas {
                        width: 150px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .seta {
                            cursor pointer;
                            width: 62px;
                            height: 62px;
                            border-radius: 31px;
                            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
                            background-color: #19996c;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition .3s all;

                            &:hover {
                                width: 80px;
                            }
                        }
                    }
                    .container-sobre-cliente {
                        h2 {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.25em;
                            font-weight: bold;
                            line-height: 2.9;
                            letter-spacing: normal;
                            text-align: left;
                            color: #040404;
                        }

                        p {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 12px;
                            font-weight: 800;
                            line-height: 1.3;
                            letter-spacing: normal;
                            text-align: left;
                            color: #040404;
                            text-transform uppercase;
                        }
                    }
                    .container-vazio {
                        width 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}


@media(max-width: 1600px){

    .sessao-video{
        .container-medio{
            flex-wrap: wrap;
            .container-video{
                margin: 3.75em 0;
                max-width 50%;
                width 50%;
            }
            .container-texto{
                width 40%;          
            }
        }
    }  

    .container-ultimos-lancamentos .container-pequeno .carrossel-lancamentos-pai{
        width: 1120px;
        .carrossel-lancamentos-filho{
            width: 100%;
        }
    } 

}

@media(max-width: 1400px){  

    .container-ultimos-lancamentos .container-pequeno .carrossel-lancamentos-pai{
        width: 84%;
    } 

    .container-redes-sociais .container-medio .todas-redes .card{
        width: 25%;
    }

}

@media(max-width: 1160px){  
    .container-ultimas-noticias .container-padrao .container-noticias{
        justify-content: center;
    }

    .container-todos-depoimentos .container-pequeno .container-carrossel-pai .container-carrossel-filho .container-frase-cliente .texto{
        font-size: 2em;
    }
}

@media(max-width: 1080px){  
    .container-redes-sociais .container-medio .todas-redes{
        flex-wrap: wrap;
        .card{
            width: 50%;
        }
    }
}

@media(max-width: 900px){
    .carrossel-inicial-pai .carrossel-inicial .container-carrossel .container-banner .setas .container-conteudo{
        margin-right: 0;
    }

    .sessao-video .container-medio .container-video{
        margin: 3.75em 1em;
    }
}

@media(max-width: 700px){ 
    .sessao-video .container-medio{
        flex-flow: column;
        .container-video{
            max-width: 100%;
            width: 100%;
        }
        .container-texto{
            max-width: 100%;
            width: 100%;
        }
    }

    .container-todos-depoimentos .container-pequeno .container-carrossel-pai .container-carrossel-filho .container-frase-cliente .texto{
        font-size: 1.5em;
    }
}

@media(max-width: 650px){ 
    .container-ultimos-lancamentos .container-pequeno .carrossel-lancamentos-pai{
        width: 72%;
    }

    .container-redes-sociais .container-medio .todas-redes .card{
        width: 100%;
        height: 355px;
    }

    .carrossel-inicial-pai .carrossel-inicial .container-carrossel .container-banner .setas .container-conteudo{
        width: 70%;
    }
}

@media(max-width: 440px){ 
    .container-nossos-produtos .container-categoria-produtos .container-pequeno .card-categoria{
        width: 50%;
        min-width: 50%;
    }

    .container-ultimos-lancamentos .container-pequeno .carrossel-lancamentos-pai {
        width: 70%;
        .seta{
            margin: 0 0.5em;
        }
    }
    
}

@media(max-width: 400px){ 
    .carrossel-inicial-pai .carrossel-inicial .container-carrossel .container-banner .setas .container-conteudo{
        padding: 1.5em;    
    }

    .container-todos-depoimentos .container-pequeno .container-carrossel-pai .container-carrossel-filho{
        .container-frase-cliente .texto{
            font-size: 1.2em;
        }
        .container-pos-frase{
            flex-flow: column-reverse;
            .container-setas{
                margin: 1em 0;
                .seta{
                    width: 52px;
                    height: 52px; 
                }
            }
        }
    }
    
}

@media(max-width: 350px){ 
    .container-ultimos-lancamentos .container-pequeno .carrossel-lancamentos-pai{
        width: 60%;
    }
}

