@import 'vars';

.scroll-block{
    max-width: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.mostrar-menu {
  width:  100% !important;  
}

.container-loading{
    max-width 100%;
    width 100vw;
    height 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    position: absolute;
    z-index 9999;
    .conteudo{
        max-width 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #logo{
            width: 170px;
        }
        #gif{
            margin-top: 30px;
            width: 70px;
            height 70px;
        }
    }
}

.header {
    position relative;
    width: 100%;
    max-width 100%;
    z-index 100;
    .menu-lateral {
        height: 100%;
        width: 0; 
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #19996c;
        transition: 0.95s;
        padding-bottom: 20px;
        overflow hidden;
        .after-container {
            width:100vw;
            height 100%;
            max-width 100%;
            display: flex;
            flex-flow: column wrap;
            overflow-y: auto;
            .container-logo{
                margin: 70px 0 20px 0;
                display: flex;
                justify-content: center;  
            }
            .itens-responsivo {
                width: 100vw;
                display: flex;
                flex-flow: column wrap;
                text-align: center;
                ul{
                    display flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    max-width 100%;
                    margin 0 auto;
                    padding: 0 40px;
                    .item{                       
                        margin-top: 1rem;
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        a{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.2em;
                            font-weight: bold;
                            text-align: center;
                            color: #ffffff;
                            text-transform: uppercase;
                        }
                        .linha{
                            height: 2px;
                            width: 0px;
                            margin-left: 15px;
                            background-color: $cinza_b6;
                            transition: all .3s;
                        }
                        &.active{
                            .linha {
                                width: 25px;
                            }  
                        }
                        &:hover{
                            .linha {
                                width: 25px;
                            }  
                        }
                        
                    }
                    .botao-menu{
                        background-color: $branco;
                        border-radius: 4px;
                        padding: 0.4rem;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1em;
                        font-weight: bold;
                        line-height: 1.6;
                        text-align: center;
                        color: #19996c;
                        text-transform: uppercase;
                        margin-top: 3rem;
                    }
                }
                .botao-menu {   
                    display flex;
                    align-items: center; 
                    justify-content: center;               
                    p{
                        background-color: #ffffff;
                        border-radius: 4px;
                        padding: 0.4rem;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1em;
                        font-weight: bold;
                        line-height: 1.6;
                        text-align: center;
                        color: #19996c;
                        text-transform: uppercase;
                        margin-top: 3rem;
                    }
                }
                .container-pesquisa{
                    width 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 2rem;
                    input{
                        border: 2px solid #9a9ca1;
                        border-radius: 6px;
                        background-color #ffffff;
                        height: 40px;
                        width: 220px;
                        padding: 0 0 0 10px;
                    }
                    ::placeholder{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1em;
                        font-weight: normal;
                        line-height: 1.35;
                        letter-spacing: normal;
                        text-align: left;
                        color: #9a9ca1;
                    }
                    img{
                        margin-left 1rem;
                        max-width 25px;
                    }
                }
            }
            .container-menu{
                display: flex;
                justify-content: center;  
                margin-top: 2.5rem;
                img{
                    width: 32px;
                }    
            }
        }
    }
    .container-total{
        width: 100%;       
        .container-inicial-desktop{
            height: 80px;
            padding: .8em 0;           
            height: fit-content;
            background-color: #abd6cb;
            .container-medio{                              
                height: fit-content;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .seletor-idioma-pai{
                    display: flex;
                    position: relative;
                    .seletor-idioma{
                        background-color: #ffffff;
                        border-radius: 4px;
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
                        display: flex;
                        aligh-items: center;
                        justify-content: center;
                        position: relative;
                        cursor: pointer;
                        margin-right: 22px;
                        img{
                            padding: 8px;
                        }                 
                    }                    
                    .opcoes{
                        background-color: #ffffff;
                        opacity: 0;
                        transition: .3s all;
                        position: absolute;
                        top: 30px;
                        left: 0;
                        border-radius: 4px;
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
                        display: flex;
                        flex-flow: column;
                        padding: 4px 18px;
                        .opcao{                            
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.125em;
                            font-weight: 600;
                            line-height: 2.11;
                            text-align: left;
                            color: #000000;
                            padding: 4px 0;
                            &.active{
                                font-weight: bold;  
                            }
                        }
                        .divisor{
                            border-bottom 1px solid grey;
                        }
                    }
                    .mensagem{
                        background-color: #000000;
                        opacity: 1;
                        transition: .3s all;
                        position: relative;
                        border-radius: 4px;                       
                        display: flex;
                        justify-content: space-around;
                        padding: 4px 8px;
                        &:after{
                            content: '\25BC';                       
                            transform: rotate(90deg);
                            color: black;
                            pointer-events: none;
                            transition: .25s all ease;
                            position absolute;
                            top: 10px;
                            left: -12px;
                        } 
                        p{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 2.11;
                            text-align: left;
                            color: white;
                            padding: 0 10px;
                        }
                        img{
                            min-width 16px;
                            width: 16px;
                            margin: 0 8px;
                            cursor pointer;
                        }
                    }
                }
                .barra-pesquisa{
                    width: 30%;
                    font-size: 16px;
                    input{
                        transition: .3s all;
                        width: 0;
                        height 30px;
                        border: 0;
                        background-color: #abd6cb;
                        padding: 0 0 0 30%;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.5em;
                        font-weight: normal;
                        line-height: 2.11;
                        text-align: left;
                        color: #040404;
                    }
                    ::placeholder{
                        font-family: 'Open Sans', sans-serif;
                        font-weight: normal;
                        line-height: 2.11;
                        text-align: left;
                        color: #92a29e;
                    }
                }               
                .redes{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 15%;
                    .lupa-pesquisa{
                        cursor pointer;
                        border-right 1px solid black;
                        padding-right: 30px;
                        display: flex;
                        align-items: center;
                        .close{
                            opacity 0;
                            font-size: 1.5em;
                        }
                    }
                    .redes-sociais{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 60%;
                        .logo{
                            img{
                                min-height: 17px;
                                min-width: 21px;
                            }
                        }
                    }
                }
            }
        }
        .container-desktop{          
            display: flex;            
            height: fit-content;
            background-color: #ffffff;
            .container-medio{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100px; 
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);             
                a{                    
                    display flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        padding: 1em 0;
                        margin-right: 2em;
                    }
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: 600;
                        line-height: 2.11;
                        text-align: left;
                        color: #19996c;
                        padding: 1em 0.5em;
                        display: flex;
                        align-items: center;
                        transition .3s all;
                        white-space: nowrap;
                        &.active{
                            font-weight: bold;  
                        }
                    }                    
                    .logo-principal{
                        max-width: 200px;
                    }                                        
                } 
                .item-pai{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        background-color #19996c;
                        .item{
                            p {
                                color: white;
                            }
                        }
                    }
                    .container-categorias-produtos{
                        position: absolute;
                        top: 100%;
                        left 0;
                        z-index -99;
                        opacity: 0;
                        display none;
                        .item-cat{
                            width: 320px;
                            justify-content: flex-start;
                            padding: 1em 2em;
                            background-color: #ffffff;
                            transition width 2s;
                            p{
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1em;
                                font-weight: bold;
                                line-height: 1.38;
                                letter-spacing: normal;
                                text-align: left;
                                color: #040404;
                                padding: 0 .5em;
                            }
                            img{
                                max-width: 22px;
                                margin-right: 1em;
                                padding: 0;
                            }    

                        }
                    }
                } 
                .botao-menu{
                    background-color: #19996c;
                    padding: .5em;
                    border-radius: 4px;
                    cursor: pointer;
                    border-radius: 4px;
                    max-height: 40px;
                    min-width: 140px;
                    margin-left: 2em;
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 0.875em;
                        font-weight: 900;
                        line-height: 1.33;
                        text-align: center;
                        color: $branco;                    
                    }
                }
            }            
        }
        .container-resposivo{
            display none;
            padding: 10px 5%;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            top 0;
            background-color: #ffffff;
            .container-logo{
                width: fit-content;
                max-width 100%;                
                a img{
                    max-width: 150px;
                }
            }
            .container-menu{
                cursor: pointer;
                img{
                    width: 37px;
                }
            }
        }        
    }
}

@media(max-width: 1400px){
    .header .container-total .container-desktop .container-medio a .logo-principal{
        max-width: 150px;
    }

    .header .container-total .container-desktop .container-medio .botao-menu{
        min-width: 120px;
        margin-left: 1em;
    }
}

@media(max-width: 1300px){
    .header .container-total {
        .container-inicial-desktop .container-medio .redes{
            width: 25%;
        }
        .container-desktop .container-medio a{
            font-size: 15px;
        }
    }
    
}

@media(max-width: 1200px){

    .header .container-total{
        .container-resposivo{
            display: flex;            
        }
        .container-desktop {
            display: none;
        }

        .container-inicial-desktop .container-medio .redes{
            justify-content: flex-end;
            .lupa-pesquisa{
                display none;
            }
        }
        
    }
}

@media(max-width: 700px){ 
    .header .container-total .container-inicial-desktop .container-medio{
        .seletor-idioma-pai{
            width: 50%;
        }
        .barra-pesquisa{
            width: 0%;
        }
        .redes{
            width: 50%;
        }
    }
}

@media(max-width: 600px){ 
    .header .container-total .container-inicial-desktop .container-medio .seletor-idioma-pai .mensagem{
        display none;
    }

    
}

@media(max-width: 400px){ 
    .header .container-total .container-inicial-desktop .container-medio .redes .redes-sociais{
        width: 100%;
    }
}



