@import 'vars.styl';

.container-banner-inicial{
    padding: 5em 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 1.375em;
        position: relative;
        z-index: 2;
    }
    .container-texto{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125em;
        font-weight: normal;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: relative;
        z-index: 2;
    }
}

.container-principios{
    padding: 2em 0;
    .container-medio{
        display flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: stretch;
        align-items: stretch;
        .container-card{
            cursor pointer;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 0.625em;
            font-size: 16px;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 236px;
            max-width: 536px;
            margin: 1em;
           -moz-transition: all .5s;
            -webkit-transition: all .5s;
            transition: all .5s;
            .container-card-conteudo{
                position: relative;
                z-index: 2;
                border: solid 1px #ffffff;
                min-height: 210px;
                height: 100%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                padding: 1em 2em;
                h1{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.125em;
                    font-weight: bold;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ffffff;
                    margin-bottom: 1em;
                }
                .texto{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1em;
                    font-weight: normal;
                    font-style: italic;
                    line-height: 1.38;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ffffff;
                }
            }
            &:hover{
                background-size: 125% 125%;
            }
        }
    }
}

.sessao-video{
    .container-medio{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: fit-content;
        padding: 3em 5%;
        .container-video{
            margin: 3.75em 0;
            max-width: 45%;
            width: 45%;
            height 388px;
            iframe{
                width: 100%;
                height 100%;
            }
        }
        .container-texto{
            width: 48%;
            max-width: 50%;
            display: flex;
            flex-flow column;
            justify-content: center;
            align-items: center;
            .texto{
                p{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2;
                    letter-spacing: normal;
                    text-align: left;
                    color: #7f7f7f;
                    strong{
                        font-weight: 800;
                    }
                }
            }            
        }
    }
}

.container-politica-qualidade{
    padding: 8.75em 0;
    .container-padrao{
        .container-politicas{
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            border-radius: 12px;
            min-height: 783px;
            height: 100%;
            width: 100%;   
            display: flex;         
            .barra-lateral{
                width: 40%;
                height: 100%;
                background-color: #ffffff;
                border-left: 36px solid #19996c;
                padding: 2em 1.5em 2em 3.75em;
                border-radius: 12px;
                position relative;
                .seta{
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    border-top: 20px solid #19996c;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-left: 20px solid transparent;
                    top: 10%;
                    left: 0;
                    transform: rotate(-90deg);
                }
                .container-inicial{
                    h1{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 2.25em;
                        font-weight: bold;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #19996c;
                        margin-bottom: 1.75em;
                    }
                    .texto{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: normal;
                        line-height: 1.67;
                        letter-spacing: normal;
                        text-align: left;
                        color: #343434;
                        margin-bottom: 2.8em;
                    }
                }                
                .container-topicos-pai{
                    margin-bottom: 2.5em;
                    font-size: 16px;
                    .container-topico{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 2em;
                        cursor pointer;
                        position relative;
                        p{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1em;
                            font-weight: bold;
                            line-height: 1.63;
                            letter-spacing: normal;
                            text-align: left;
                            color: #000000;
                            opacity: 0.5;
                            max-width: 291px;
                            transition: .3s all;
                        }
                        .imagem-ativa{
                            opacity: 0;
                            display: none;
                            transition: .3s all;
                        }
                        .imagem-desativa{
                            transition: .3s all;
                        }
                        .seta{
                            opacity: 0;
                            position: absolute;
                            content: "";
                            width: 0px;
                            height: 0px;
                            border-top: 20px solid #19996c;
                            border-right: 20px solid transparent;
                            border-bottom: 20px solid transparent;
                            border-left: 20px solid transparent;
                            top: 5%;
                            left: -3.75em;
                            transform: rotate(-90deg);
                            transition: .3s all;
                        }
                        
                    }
                    .ativo {
                        .imagem-ativa {
                            opacity: 1;
                            display: block;
                        }
                        .imagem-desativa {
                            opacity: 0;
                            display: none;
                        }
                        p {
                            color: #19996c;
                            opacity: 1;
                        }
                    }
                }
            }
            .container-imagens{
                width: 60%;
                background-color: #ffffff;     
                position relative;     
                transition: .4s all;         
                .container-imagem{
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    display: none; 
                    opacity: 0;
                    transition: .4s all;   
                    .texto{
                        position absolute;
                        z-index: 2;
                        left: 10%;
                        bottom: 3em;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: normal;                        
                        line-height: 1.67;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                    }
                }  
                .ativo{
                    display: block;
                    opacity: 1;
                    transition: .4s all; 
                }              
            }            
        }
    }
}

.container-numeros{
    width: 100%;
    background-position: center;
    background-size: cover;
    .container-padrao{        
        padding: 2rem;
        font-size: 16px;
        position: relative;
        z-index: 2;
        .titulo{
            text-transform uppercase;
            font-family: 'Open Sans', sans-serif;
            font-size: 26px;
            font-weight: 800;
            line-height: 1;
            letter-spacing: normal;
            text-align: center;
            color: #040404;
            margin: 1rem 0 3rem 0;
            display: flex;
            justify-content: center;
            align-items: center;            
        }
        .cards-numeros-pai{
            display: flex;
            justify-content: space-between;
            .card-numero{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem;
                img{
                    max-height: 70px;
                    min-height: 50px;
                }
                .textos{
                    margin: 0 0.8rem;
                    h1{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.75em;
                        font-weight: 800;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #040404;
                        margin-bottom: 0.5rem;
                        text-transform uppercase;
                    }
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 0.875em;
                        font-weight: bold;
                        line-height: 1.14;
                        letter-spacing: normal;
                        text-align: left;
                        color: #040404;
                        text-transform uppercase;
                        max-width: 190px;
                    }
                }
            }
        }
    }
}

.container-ultimas-noticias{
    padding: 8.75em 0;
    .container-padrao{
        h1{
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
            font-weight: bold;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: center;
            color: #040404;
            text-transform uppercase;
            margin-bottom: 3.25em;
        }
        .container-noticias{
            display: flex;
            //flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            .container-card-noticia{
                padding: 0.8125em;
                background-color: #ffffff;
                transition .3s all;
                width: fit-content;
                width: 380px;                
                .imagem{
                    width: 100%;
                    height: 233px;
                    border-bottom 5px solid #19996c;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 2.25em;
                }
                h1{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.125em;
                    font-weight: bold;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #040404;
                    margin-bottom 1em;
                }
                .breve-resumo{
                    width: 100%;
                    height: 88px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1em;
                    font-weight: normal;
                    line-height: 1.38;
                    letter-spacing: normal;
                    text-align: left;
                    color: #7f7f7f;
                    text-overflow: ellipsis;
                    overflow: hidden;                    
                    margin-bottom 1.3125em;
                }
                .botao{
                    width: 100%;
                    margin-bottom 1em;
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1em;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.38;
                        letter-spacing: normal;
                        text-align: left;
                        text-transform uppercase;
                        color: #040404;
                    }
                }
                &:hover{
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                }
            }
        }
    }
}

@media(max-width: 1300px){
    .container-principios .container-medio .container-card{
        font-size 14px;
    }
}

@media(max-width: 1080px){
    .container-principios .container-medio{
        flex-flow: column;
        align-items: center;
    }
}

@media(max-width: 1024px){

    .sessao-video .container-medio{
        flex-flow: column-reverse;
        .container-video{
            max-width: 100%;
            width: 100%;
        }
        .container-texto{
            max-width: 100%;
            width: 100%;
        }
    }

    .container-numeros .container-padrao .cards-numeros-pai{
        justify-content: center;
        flex-wrap: wrap;
        .card-numero{
            padding: 1em;
        }
    }

    .container-politica-qualidade .container-padrao .container-politicas{
        .barra-lateral{
            width: 50%;
        }
        .container-imagens{
            width: 50%;
        }
    }

    .container-ultimas-noticias .container-padrao .container-noticias{
        flex-wrap: wrap;
        justify-content: center;
        .container-card-noticia{
            margin: 1em;
        }
    }
}

@media(max-width: 850px){
    .container-politica-qualidade {
        padding: 2em 0;
        .container-padrao .container-politicas{
            flex-flow: column;
            .barra-lateral{
                padding: 2em;
                width: 100%;
                display: flex;
                border-radius: 0;
                border-left: 0px solid #19996c;
                .container-inicial{
                    width 50%;
                    margin-right: 1em;
                }
                .container-topicos-pai {
                    flex-flow: column;
                    display: flex;
                    justify-content: center;
                    .container-topico {
                        p{
                            margin-left: 0.5em;
                        }
                    }  
                }
                        
            }
            .seta{
                display none;
            }
            .container-imagens{
                width: 100%;
                height: 400px;
            }
        }
    }
    
}

@media(max-width: 600px){
    .container-politica-qualidade{
        .container-padrao .container-politicas {
            .barra-lateral{
                flex-flow: column;
                .container-inicial{
                    width: 100%;
                    margin-right: 0;
                    h1{
                        margin-bottom: 1em;
                    }
                }
                .container-topicos-pai .container-topico{
                    justify-content: flex-start;
                    p{
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@media(max-width: 425px){
    .container-principios .container-medio .container-card{
        background-size: cover;
        margin: 1em 0;
    }
    .container-numeros .container-padrao .cards-numeros-pai .card-numero{
        padding: 1em 0;
    }
    .container-ultimas-noticias .container-padrao .container-noticias .container-card-noticia{
        margin: 0;
    }
}
