@import 'vars.styl';

.container-banner-inicial{
    padding: 5em 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 1.375em;
        position: relative;
        z-index: 2;
    }
    .container-texto{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125em;
        font-weight: normal;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: relative;
        z-index: 2;
    }
}

.container-informacoes-contato{
    border-top: 7px solid #19996c;
    .container-medio{
        display: flex;
        justify-content: space-around;
        .container-formulario{
            width: 48%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 4em 0;
            form{
                .linha{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .vazia{
                        width: 1em;
                    }
                }
                .container-input-upload {
                    opacity: 0;
                    position absolute;
                    top: 0;
                    left: 0;
                    z-index: -99;
                    transition .4s all;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;                    
                    align-items: flex-start;
                    width 0%;
                    padding: 0.5em 0.5em 0 1em !important;
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: normal;
                        line-height: 1.33;
                        letter-spacing: normal;
                        text-align: left;
                        color: #bababa;
                    }
                    input {
                        display: none;
                    }
                    #arquivo-anexado {                        
                        texto_generico(0.8em, $azul_01, 1.89, 400);
                        margin: 0.5em 0;
                    }
                    .linha{
                        width: 100%;
                        justify-content: space-between;
                    }
                    .botao{
                        padding: 0.5em 1em;
                    }
                }
                .ativo{
                    opacity: 1;
                    position relative;
                    width 100%;
                }
                input, textarea, select, .container-input-upload{
                    padding: 1em;
                    border: solid 2px #e4e4e4;
                    background-color: #ffffff;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.125em;
                    font-weight: normal;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #bababa;
                    width 100%;
                    margin-bottom: 0.8em;
                }
                ::placeholder{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.125em;
                    font-weight: normal;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #bababa;
                }
                .container-botoes{
                    display flex;
                    justify-content: space-between;
                    .botao{
                        padding: 1em 4em;
                        background-color: #19996c;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 1.33;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                    }
                }                
            }
        }
        .container-contatos{
            width: 48%;
            padding: 4em 0;
            display: flex;
            justify-content: space-around;
            .container-informacoes{
                max-width: 320px;
                width: fit-content;
                .container-informacoes-iniciais{
                    .informacao{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: normal;
                        line-height: 1.33;
                        letter-spacing: normal;
                        text-align: left;
                        color: #040404;
                        margin-bottom 1.875em;
                        strong{
                            text-transform uppercase;
                            font-weight: bold;
                        }
                    }
                    .container-redes{
                        display: flex;
                        justify-content: space-around;
                        width: 200px;
                        img{
                            max-width 21px;
                        }
                    }
                }                
            }
            .container-outras-informacoes{
                max-width: 216px;
                width: fit-content;
                .container-informacao{
                    margin-bottom: 1.875em;
                    h1{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: bold;
                        line-height: 1.44;
                        letter-spacing: normal;
                        text-align: left;
                        text-transform uppercase;
                        color: #040404;
                        margin-bottom: 0.3em;
                    }
                    .linha{
                        display: flex;
                        margin-bottom: 0.5em;
                        img{
                            max-width: 24px;
                            min-width: 24px;
                            margin-right: 0.5em;
                        }
                        p{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.125em;
                            font-weight: normal;
                            line-height: 1.44;
                            letter-spacing: normal;
                            text-align: left;
                            color: #040404;
                        }
                    }
                }
            }
        }
    }
    .container-acessar-loja{
        background-color: #abd6cb;
        padding: 3em 0;
        display: flex;
        justify-content: center;
        .botao {
            padding: 1em 4em;
            background-color: #19996c;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
    }
}

@media(max-width: 1200px){
    .container-informacoes-contato .container-medio .container-formulario{
        width: 80%;
    }
}

@media(max-width: 900px){
    .container-informacoes-contato .container-medio .container-formulario form .linha{
        flex-flow: column;
    }
}

@media(max-width: 425px){
    .container-informacoes-contato {
        .container-medio{
            font-size: 14px;
            .container-formulario{
                width: 100%;
            }
        }
        .container-acessar-loja .botao{
            padding: 1em 2em;
        }
    }
    
}