@import 'vars.styl';

.container-banner-inicial{
    padding: 5em 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 1.375em;
        position: relative;
        z-index: 2;
    }
    .container-texto{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125em;
        font-weight: normal;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: relative;
        z-index: 2;
    }
}

.container-resultados-pesquisa{
    .container-pequeno{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        h1, p {
            font-family: 'Open Sans', sans-serif;
            font-size: 1em;
            font-weight: normal;
            line-height: 1.34;
            letter-spacing: normal;
            text-align: left;
            color: #040404;
            margin-bottom: 1em;
            text-decoration: underline;
        }
        p{
            text-decoration: none;
        }
    }
}