@import 'vars.styl';

.container-banner-inicial{
    padding: 5em 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        text-transform uppercase;
        color: #ffffff;
        margin-bottom: 1.375em;
        position: relative;
        z-index: 2;
    }
    .container-texto{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125em;
        font-weight: normal;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: relative;
        z-index: 2;
    }
}

.container-total-pai{
    display: flex;
    .container-barra-lateral{
        width: 25%;
        box-shadow: 3px 0 20px 0 rgba(0, 0, 0, 0.07);
        background-color: #fafafa;
        aside{
            width: 100%;
            .container-textos-iniciais{              
                background-color: #fafafa;
                .container-texto{
                    border-bottom: 1px solid #ececed;
                    padding 2.5em 20%;
                    width 100%;
                    display flex;
                    align-items: center;
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 0.875em;
                        font-weight: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #040404;
                    }
                    h1{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: bold;
                        line-height: 1.33;
                        letter-spacing: normal;
                        text-align: left;
                        text-transform uppercase;
                        color: #040404;
                    }
                    img{
                        margin-right: 2rem;
                    }
                }
                .inicial{
                    flex-flow: column;
                    align-items: flex-start;
                }
            }
            .container-todas-categorias{
                width: 100%;
                .container-categoria {
                    width: 100%;
                    .container-selected {
                        width: 100%;
                        height: fit-content;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        padding: 1.875em 15%;
                        .cabecalho{
                            display: flex;
                            align-items: center;
                            h3 {
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1.125em;
                                font-weight: 800;
                                line-height: 1.33;
                                letter-spacing: normal;
                                text-align: left;
                                color: #ffffff;
                            }
                            img{
                                max-width: 46px;
                                max-height: 50px;
                                margin-right: 12px;
                            }
                        }                        
                        .container-seta {
                            padding: 10.5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img {                           
                                transition: all .8s;
                                object-fit: contain;
                                height: 14px;
                                width: 13px;
                                &.dropdown-ativo {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                    .container-options {
                        width: 100%;
                        max-height: 0px;
                        overflow-y: hidden;
                        transition: all .4s;                
                        .container-conteudo{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1em;
                            font-weight: normal;
                            line-height: 1.38;
                            letter-spacing: normal;
                            text-align: left;
                            color: #7f7f7f;
                            cursor: pointer;
                            .categoria-filha{
                                padding: 1.5rem 20%; 
                                border-top: solid 1px #ffffff;
                                display: flex;
                                justify-content: space-between;
                                h1{
                                    font-family: 'Open Sans', sans-serif;
                                    font-size: 1.125em;
                                    font-weight: 800;
                                    line-height: 1.33;
                                    letter-spacing: normal;
                                    text-align: left;
                                    color: #ffffff;
                                }
                                .quantidade-produtos{
                                    border-radius: 16px;
                                    background-color: #ffffff;
                                    padding: .3em 1em;
                                    p{
                                        font-family: 'Open Sans', sans-serif;
                                        font-size: 1em;
                                        font-weight: 800;
                                        line-height: 1.33;
                                        letter-spacing: normal;
                                        text-align: left;
                                        color: #040404;
                                    }
                                }
                            }
                        }
                        &.dropdown-ativo {
                            max-height: 900px;
                        }
                    }
                }
            }
        }
    }   
    .container-produtos{
        padding: 4em 2em;
        width: 75%;
        .container-maior{
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            .container-todos-produtos{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .card-produto-pai{
                    max-height 351px;
                    margin: 1.5em 1em;
                    .card-produto {
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        text-align center;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                        background-color: #ffffff;
                        margin: 1em 0.6em;
                        padding: 1em;
                        transition .3s all;
                        height 340px;
                        max-width: 270px;
                        h2 {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.125em;
                            font-weight: bold;
                            line-height: 1.33;
                            text-align: center;
                            color: #19996c;
                            margin-bottom: 4px;
                        }
                        p {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            line-height: 1.33;
                            letter-spacing: normal;
                            text-align: center;
                            color: #7f7f7f;
                        }
                        &:hover {
                            border-width 0 0 5px 0 !important;
                            transform: translateY(-10px); 
                        }
                    }   
                } 
            } 
            .container-pagina-pai{
                width: 100%;
                display flex;
                justify-content: center;
                padding: 5em 0;
                .container-pagina{
                    width: fit-content;
                    display flex;
                    justify-content: center;
                    .seta{
                        border-radius: 26px;
                        transition: .3s all;
                        margin: 0 1em;
                        padding 0.5em 0.8em;
                        cursor pointer;
                        &:hover{
                            background-color: #efefef;
                        }
                    }
                    .seta-esquerda{
                        transform: rotate(180deg);
                    }
                    .pagina{
                        border-radius: 26px;
                        transition: .3s all;
                        margin: 0 1em;
                        padding 0.3em 0.875em;
                        cursor pointer;
                        p{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.25em;
                            font-weight: 800;
                            line-height: 1.35;
                            letter-spacing: normal;
                            text-align: center;
                            color: #040404;
                        }
                        &:hover{
                            background-color: #efefef;
                        }
                    } 
                    .ativo{
                        background-color: #19996c;
                        p{
                            color: #ffffff; 
                        }
                    }                   
                }
            }                      
        }
    }
}

@media(max-width: 1200px){
    .container-total-pai {
        .container-barra-lateral{
            width: 32%;
        }
        .container-produtos .container-maior .container-todos-produtos{
            justify-content: center;
        }
    }
}

@media(max-width: 1000px){
    .container-total-pai .container-barra-lateral{
        width: 50%;
    }
}

@media(max-width: 700px){
    .container-total-pai{
        .container-barra-lateral{
            width: 80%;
        }
        .container-produtos{
            padding: 4em 1em;
        }
    }     
}

@media(max-width: 600px){
    .container-total-pai{
        flex-flow: column;
        .container-barra-lateral{
            width: 100%;
        }
        .container-produtos{
            width: 100%;
        }
    }
}


