@import 'vars.styl';

.container-revededores{
    padding: 5em 0;
    .container-pequeno{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .container-inicial{
            .titulo{
                font-family: 'Open Sans', sans-serif;
                font-size: 1.75em;
                font-weight: 800;
                line-height: 1.21;
                letter-spacing: normal;
                text-align: left;
                color: #040404;
                margin-bottom 0.75em;
            }
            .descricao{
                font-family: 'Open Sans', sans-serif;
                font-size: 1.25em;
                font-weight: bold;
                line-height: 1.35;
                letter-spacing: normal;
                text-align: left;
                color: #040404;
                margin-bottom 4.375em;
            }
            .container-pontos{
                .texto{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1em;
                    font-weight: normal;
                    line-height: 1.38;
                    letter-spacing: normal;
                    text-align: left;
                    color: #040404;
                    margin-bottom 2.5em;
                }
                .ponto{
                    display flex;
                    align-items: center;
                    margin-bottom: 3em;
                    img{
                        max-width 60px;
                        min-height 60px;
                        margin-right: 1em;
                    }
                    .informacoes{
                        h2{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.25em;
                            font-weight: bold;
                            line-height: 1.35;
                            letter-spacing: normal;
                            text-align: left;
                            color: #040404;
                            margin-bottom: 0.3em;
                        }
                        .texto{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1em;
                            font-weight: normal;
                            line-height: 1.38;
                            letter-spacing: normal;
                            text-align: left;
                            color: #040404;
                            margin 0;
                        }
                    }
                }
            }
        }
        .container-formulario{
            padding 3.5em 6.25em;
            border-radius: 4px;
            box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            width: 35%;
            form{
                display flex;
                flex-flow: column;
                label{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1em;
                    font-weight: bold;
                    line-height: 2;
                    letter-spacing: normal;
                    text-align: left;
                    color: #040404;
                    margin-bottom 0.625em;
                }
                input{
                    padding: 0.75em;
                    border-radius: 4px;
                    border: solid 2px #dbdbdb;
                    background-color: #ffffff;
                    margin-bottom 1.4em;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1em;
                    font-weight: bold;
                    line-height: 2;
                    letter-spacing: normal;
                    text-align: left;
                    color: #040404;                  
                }
                ::placeholder{
                    color: #bababa;
                }
                .termos-privacidade{
                    display: flex;
                    margin-bottom: 2.75em;
                    input{
                        border-radius: 2px;
                        background-color: #c3a471;
                        margin-right: 1em;
                    }
                    p{
                        font-family: 'Oxygen', sans-serif;
                        font-size: 0.75em;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.42;
                        letter-spacing: normal;
                        text-align: left;
                        color: #9b9b9b;
                    }
                }
                .botao{
                    width 100%;
                    display: flex;
                    justify-content: center;
                    margin-bottom 1.7em;
                    button{
                        border-radius: 6px;
                        background-color: #19996c;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                        font-weight: 800;
                        line-height: 1.38;
                        letter-spacing: normal;
                        text-align: center;
                        text-transform uppercase;
                        color: #ffffff;
                        width: 300px;
                        height: 56px;
                    }   
                }                
                a, span{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 2;
                    letter-spacing: normal;
                    text-align: center;
                    color: #19996c;
                }
            }
        }
    }
}

@media(max-width: 1440px){
    .container-revededores .container-pequeno .container-formulario{
        width: 45%;
    }
}

@media(max-width: 1200px){
    .container-revededores .container-pequeno .container-formulario{
        padding: 2em 4em;
    }
}

@media(max-width: 900px){
    .container-revededores .container-pequeno{
        font-size: 15px;
        .container-inicial{
            width: 35%;
        }
        .container-formulario{
            width: 55%;
        }
    }
}

@media(max-width: 768px){
    .container-revededores .container-pequeno{
        flex-flow: column;
        .container-inicial{
            width: 100%;
            margin-bottom: 2em;
            padding-left: 2em;
        }
        .container-formulario{
            width: 100%;
        }
    }
}