@import 'vars';

.container-total{
    .container-formulario-pai{
        height: fit-content;
        padding: 3rem 0;
        .container-padrao{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            height: 90%;
            position: relative;
            z-index: 2;
            .container-inicial{
                width: 40%;
                background-color: #008e5a;
                border-radius: 6px 0 0 6px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                padding: 9.375em 4.25em;
                height: 648px;
                img{
                    margin-bottom: 6em;
                    max-width: 280px;
                }
                h1{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 24px;
                    font-weight: 800;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                    max-width: 230px;
                }
            }
            .container-formulario{
                width: 60%;
                border-radius: 0 6px 6px 0;
                background-color: #ffffff;
                height: 648px;
                .botao-voltar{
                    padding: 1.875em;
                    display: flex;                    
                    align-items: center;
                    justify-content: flex-end;
                    img{
                        transform: rotate( 180deg );
                        margin-right 0.625em;
                        max-width 14px;
                    }
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 0.875em;
                        font-weight: bold;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #000000;
                    }
                }
                .container-campos{
                    padding 2em 5em;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    label{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1em;
                        font-weight: bold;
                        line-height: 2;
                        letter-spacing: normal;
                        text-align: left;
                        color: #040404;
                        margin-bottom 0.625em;
                    }
                    input{
                        padding: 0.75em;
                        border-radius: 4px;
                        border: solid 2px #dbdbdb;
                        background-color: #ffffff;
                        margin-bottom 1.4em;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1em;
                        font-weight: bold;
                        line-height: 2;
                        letter-spacing: normal;
                        text-align: left;
                        color: #040404;                  
                    }
                    ::placeholder{
                        color: #bababa;
                    }                    
                }
                .botao {                    
                    margin: 1.5em 0 3.75em 0;  
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;                  
                    p {
                        background-color: #008e5a;
                        padding: 1.125em 5em 1.125em;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.375em;
                        font-weight: bold;
                        line-height: 1.55;
                        letter-spacing: normal;
                        text-align: center;
                        color: #ffffff;
                    }
                }
                .container-redes{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    a{
                        margin: 1em;
                    }
                }
            }
        }
    }
}

@media(max-width: 768px){
    .container-total .container-formulario-pai .container-padrao{
        flex-flow: column;
        .container-inicial{
            width 100%;
            border-radius 0;
        }
        .container-formulario{
            width 100%;
            border-radius 0;
        }
    }
}

@media(max-width: 425px){
    .container-total .container-formulario-pai .container-padrao{
        font-size: 14px;
        .container-formulario {
            .container-campos{
                padding: 2em 2.5em;
            }
            .botao p{
                padding: 1.125em 4em 1.125em;
            }
        }
        
    }
}
