@import 'vars.styl';

.container-banner-inicial{
    padding: 5em 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        text-transform uppercase;
        color: #ffffff;
        margin-bottom: 1.375em;
        position: relative;
        z-index: 2;
    }
    .container-texto{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125em;
        font-weight: normal;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: relative;
        z-index: 2;
    }
}

.container-sobre-produto{
    margin-bottom: 5em;
    .container-pequeno{
        display flex;
        justify-content: space-between;
        .container-imagens{
            width 50%;
            margin: 4.25em 0;
            h1{
                font-family: 'Open Sans', sans-serif;
                font-size: 1.625em;
                font-weight: 800;
                line-height: 1.38;
                letter-spacing: normal;
                text-align: left;
                color: #040404;
                margin-bottom 0.5em;
            }
            h2{
                font-family: 'Open Sans', sans-serif;
                font-size: 0.875em;
                font-weight: normal;
                line-height: 1.36;
                letter-spacing: normal;
                text-align: left;
                color: #7f7f7f;
                margin-bottom 2em;
            }
            .container-carrossel-imagens{
                width: 85%;
                display flex;
                justify-content: space-between;
                .container-imagem-destaque{
                    width 70%;
                    .imagem-detaque{
                        opacity: 0;
                        display none;
                        transition: .5s all;
                        border-radius: 3px;
                        border: solid 1px #a7a7a7;
                        width 100%;
                        max-height: 460px;
                    }
                    .ativo{
                        opacity: 1;
                        display block;
                    }
                }
                .container-miniaturas{
                    width 25%;
                    .imagem-miniatura{
                        opacity: 1;
                        transition: .5s all;
                        display block;
                        border-radius: 3px;
                        border: solid 1px #a7a7a7;
                        margin-bottom: 0.5em;
                        max-height: 140px;
                        width 100%;
                    }
                    .desativo{
                        opacity: 0;
                        display none;
                    }
                }
            }
            .mensagem-pai{
                width: 60%;
                display flex;
                justify-content: center;
                .mensagem {
                    background-color: #000000;
                    opacity: 1;
                    transition: .3s all;
                    position: relative;
                    border-radius: 4px;
                    display: flex;
                    justify-content: space-around;
                    padding: 4px 8px;
                    width: 300px;
                    margin-top: 1.5em;
                    &:after {
                        content: '\25BC';
                        transform: rotate(180deg);
                        color: black;
                        pointer-events: none;
                        transition: .25s all ease;
                        position absolute;
                        top: -12px;
                        left: 50%;               
                    }
                    p {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 11px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2.91;
                        letter-spacing: normal;
                        text-align: left;
                        text-transform uppercase;
                        color: #ffffff;
                    }
                }
            }            
        }
        .container-especificacoes{
            width 50%;
            margin: 4.25em 0;
            .botao-voltar{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom 3.875em;
                img{
                    max-width 30px;
                    margin-right: 1.2em;
                    transform rotate(180deg);
                }
                p{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.125em;
                    font-weight: bold;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: center;
                    color: #000000;
                }
            }
            .descricao{
                font-family: 'Open Sans', sans-serif;
                font-size: 1.125em;
                font-weight: normal;
                line-height: 1.78;
                letter-spacing: normal;
                text-align: left;
                color: #7f7f7f;
                margin-bottom 2.5em;
            }
            .todas-caracteristicas-pai{
                .outras-caracteristicas{
                    display flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-bottom 2.5em;
                    .caracteristica{
                        display flex;
                        align-items: center;
                        margin: 0.8em 0.5em;
                        img{
                            max-width: 38px;
                            margin-right 0.875em;
                        }
                        p{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.125em;
                            font-weight: normal;
                            line-height: 1.78;
                            letter-spacing: normal;
                            text-align: left;
                            color: #707070;
                        }
                    }
                }
                .lista-caracteristicas{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.125em;
                    font-weight: normal;
                    line-height: 1.78;
                    letter-spacing: normal;
                    text-align: left;
                    color: #707070;
                    margin-bottom 1.5em;
                    strong{
                        text-transform uppercase;
                        font-weight: 800;
                        color: #040404;
                    }
                }
                .cores-disponiveis{
                    h1{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: 800;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.33;
                        letter-spacing: normal;
                        text-align: left;
                        text-transform uppercase;
                        color: #040404;
                        margin-bottom 1em;
                    }
                    .todas-cores{
                        display flex;
                        position relative;
                        z-index 0;
                        .cor{
                            border-radius: 28px;
                            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                            border: solid 1px #ffffff;
                            width: 28px;
                            height: 28px;
                            margin-right 0.625em;
                            cursor pointer;
                            position relative;
                            z-index 0;
                            p{
                                opacity: 0;
                                font-family: 'Open Sans', sans-serif;
                                font-size: 0.7em;
                                font-weight: normal;
                                line-height: 1.33;
                                letter-spacing: normal;
                                text-align: left;
                                text-transform uppercase;
                                background-color: #ffffff;
                                padding: 0.5em 1em;
                                border: 1px solid #040404;
                                position absolute;
                                top: 30px;
                                z-index 9;
                            }
                            &:hover{
                                p{
                                    opacity: 1;                                
                                }
                            }
                        }
                    }                
                }
            }        
        }
    }
}

.container-cards{
    width 100%;
    display flex;
    .container-formulario{
        width 50%;
        padding: 3em 8%;
        h1{
            font-family: 'Open Sans', sans-serif;
            font-size: 1.375em;
            font-weight: bold;
            line-height: 2.82;
            letter-spacing: normal;
            text-align: left;
            color: #020c15;
        }
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 1.125em;
            font-weight: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #020c15; 
            margin-bottom: 2em;
        }
        form{
            .container-campos{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom 2.5em;
                input{
                    width: 40%;
                    margin-bottom 1.125em;
                    padding: 0.625em 4.125em 0.625em 2.125em;
                    border: solid 2px #020c15;
                    background-color: #fcfcfc;
                }
                ::placeholder{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1em;
                    font-weight: normal;
                    line-height: 1.38;
                    letter-spacing: normal;
                    text-align: left;
                    color: #4b4b4b;
                }
            }
            .botao{
                display flex;
                justify-content: flex-end;                
                button{
                    padding: 0.75em 2em;
                    background-color: #19996c;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.25em;
                    font-weight: bold;
                    line-height: 1.35;
                    letter-spacing: normal;
                    text-align: left;
                    color: #f4f4f4;
                }
            }
        }
    }
    .container-encontrar-produto{
        width 50%;
        padding: 3em 8%;
        background-color #a4e0ce;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        h1{
            font-family: 'Open Sans', sans-serif;
            font-size: 2em;
            font-weight: 800;
            line-height: 1.34;
            letter-spacing: normal;
            text-align: left;
            color: #19996c;
            margin-bottom: 1em;
        }
        .descricao{
            font-family: 'Open Sans', sans-serif;
            font-size: 1.25em;
            font-weight: normal;
            line-height: 1.35;
            letter-spacing: normal;
            text-align: left;
            color: #19996c;
            margin-bottom: 2.5em;
        }
        a{
            p{
                padding: 11px 38px;
                background-color: #19996c;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.25em;
                font-weight: bold;
                line-height: 1.35;
                letter-spacing: normal;
                text-align: left;
                color: #f4f4f4;
                width: fit-content;
            }
        }
    }
}

.container-produtos-relacionados{
    background-color: #f8f8f8;
    padding: 3em 0;
    font-size: 16px;
    .container-pequeno{        
        h1{
            font-family: 'Open Sans', sans-serif;
            font-size: 1.375em;
            font-weight: bold;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: center;
            color: #040404;
            text-transform uppercase;
            margin-bottom: 3em;
        }
        .carrossel-produtos-pai{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .seta{
                cursor pointer;
                width: 42px;
                height: 42px;                 
                padding: 15px;
                margin: 0 1em;
                border-radius: 21px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    min-width: 13px;
                    min-height: 22px;
                }
            }
            .carrossel-produtos-filho{
                display: flex;      
                justify-content: space-around;                   
                height: 100%;  
                min-height: 341px;
                width: 1280px;                     
                .card-produto{
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    text-align center;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    background-color: #ffffff;
                    margin: 0 0.6em;
                    padding: 1em;       
                    transition .3s all;
                    height: 340px;
                    transition .3s all;
                    h2{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.125em;
                        font-weight: bold;
                        line-height: 1.33;
                        text-align: center;
                        color: #19996c;
                        margin-bottom: 4px;
                    }
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        line-height: 1.33;
                        letter-spacing: normal;
                        text-align: center;
                        color: #7f7f7f;                        
                    }   
                    &:hover{ 
                        transform: translateY(-10px);   
                        border-width: 0 0 5px 0 !important; 
                    }                               
                }                
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .center{
        position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: calc(100% - 40%);
        max-height: 80vh;
        background-color: white;
        padding: 1em 2em;
        border-radius: 4px;
        img{
            display: flex;
			margin: auto;
        }
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 0.8em;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.91;
            letter-spacing: normal;
            text-align: center;
            text-transform uppercase;
            color: #040404;
            margin 0.5em 0;
        }
        .rotation{
            img{
                max-height: 100%;
                max-width: 70%;
            }
        }
        .close{
			font-size: 35px;
			font-weight: bold;
        }
		.close:hover,.close:focus{
			color: #19996c;
			cursor: pointer;
        }	
    }
    
}

@media(max-width: 1600px){
    .container-produtos-relacionados .container-pequeno .carrossel-produtos-pai {
        width: 1120px;
        .carrossel-produtos-filho{
            width: 100%;
        }
    }
    
}

@media(max-width: 1400px){  
    .container-produtos-relacionados .container-pequeno .carrossel-produtos-pai {
        width: 84%;
    }

    .container-cards .container-formulario form .container-campos input{
        width: 48%;
        padding: .625em 1em .625em 2.125em;
    }
}

@media(max-width: 1200px){  
    .container-sobre-produto .container-pequeno{
        .container-imagens{
            width: 60%;
        }
        .container-especificacoes{
            width: 40%;
        }
    }
}

@media(max-width: 950px){  
    .container-sobre-produto .container-pequeno{
        font-size: 14px;
        .container-imagens .mensagem-pai{
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
    }

    .container-cards {
        .container-formulario{
            padding: 2em 5%;
        }
        .container-encontrar-produto{
            padding: 2em 5%;
        }
    }
    
}

@media(max-width: 768px){  

    .container-produtos-relacionados .container-pequeno .carrossel-produtos-pai {
        width: 60%;
    }

    .container-sobre-produto .container-pequeno{
        flex-flow: column;
        .container-imagens{
            width: 100%;
        }
        .container-especificacoes{
            width: 100%;
            margin: 1em 0;
            .botao-voltar{
                display none;
            }
        }
    }

    .container-cards{
        flex-flow: column;
        .container-formulario{
            width: 100%;
        }
        .container-encontrar-produto {
            width: 100%;
        }
    }
}

@media(max-width: 425px){  
    .container-cards {
        .container-formulario {
            font-size: 14px;
            form .container-campos input{
                width: 100%;
            }
        }
        .container-encontrar-produto{
            font-size: 14px;
        }
        
    }
}

@media(max-width: 375px){  
    .container-produtos-relacionados .container-pequeno .carrossel-produtos-pai .carrossel-produtos-filho .card-produto{
        min-height: 300px;
        height: 300px;
        max-height: 320px;
    }
}