@import 'vars.styl';

.container-banner-inicial{
    padding: 5em 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 1.375em;
        position: relative;
        z-index: 2;
    }
    .container-texto{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125em;
        font-weight: normal;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: relative;
        z-index: 2;
    }
}

.container-noticia{
    font-size: 16px;
    .container-pequeno{
        display flex;
        justify-content: space-between;
        .container-sobre-noticia{
            width: 65%;
            margin-bottom 5.75em;
            header{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 3.5em 0;
                .itens{
                    width: fit-content;
                    display: flex;                    
                    position relative;                   
                    img{
                        max-width: 19px;
                        min-width: 19px;
                        margin-right: 0.75em;
                    }
                    p{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 0.875em;
                        font-weight: bold;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        text-transform uppercase;
                        color: #040404;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .botao{
                        display: flex;
                        cursor: pointer;
                    }
                    .dropdown-redes{
                        opacity 0;
                        transition: .3s all;
                        background-color: #19996c;
                        position relative;
                        margin-left: 20px;
                        padding: 0.5em;
                        display: flex;
                        align-items: center;
                        &:after{
                            content: '\25BC';                       
                            transform: rotate(90deg);
                            color: #19996c;
                            pointer-events: none;
                            transition: .25s all ease;
                            position absolute;
                            top: 10px;
                            left: -12px;
                        }
                        a{
                            margin: 0.5em;
                            img{
                                max-width: 12px;
                                min-width: 12px;
                            }
                        }
                    }
                }
            } 
            .container-conteudo-noticia{
                font-family: 'Open Sans', sans-serif;
                font-size: 1.125em;
                font-weight: normal;
                line-height: 1.78;
                letter-spacing: normal;
                text-align: left;
                color: #7f7f7f;
                margin-bottom 7.75em;
                strong{
                    font-weight: bold;
                }
            }  
            .container-outras-noticias{
                display flex;
                justify-content: center;
                width: 100%;
                .container-outra-noticia{
                    width: 50%;
                    padding: 2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.16);
                    background-color: #ffffff;
                    transition .3s all;
                    cursor pointer;
                    img{
                        padding 1em;
                    }
                    .seta-proxima{
                        transform rotate(180deg);
                    }
                    .container-conteudo{
                        h1{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.125em;
                            font-weight: 800;
                            line-height: 1.33;
                            letter-spacing: normal;
                            text-align: left;
                            color: #19996c;
                            margin-bottom 1em;
                        }
                        .resumo{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 0.875em;
                            font-weight: normal;
                            line-height: 1.71;
                            letter-spacing: normal;
                            text-align: left;
                            color: #19996c;
                            margin-bottom 0.875em;
                        }
                        .botao{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 0.875em;
                            font-weight: bold;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: left;
                            text-transform uppercase;
                            color: #19996c;
                        }                                                       
                    }  
                    &:hover{
                        background-color: #f0f0f0;
                    }              
                }
                .container-anterior{
                    border-radius: 6px 0 0 6px;
                }
                .container-proximo{
                    border-radius: 0 6px 6px 0;
                }
            }
        }  
        .barra-lateral{
            width: 30%;
            padding: 3.5em 0;
            .pesquisa{
                align-items: center;
                display: flex;
                justify-content: center;
                flex-flow: wrap;
                height: fit-content;
                width: 100%;
                position: relative;
                input{
                    background-color: #ffffff;
                    border: solid 3px #19996c;
                    border-radius: 6px;
                    color: #bdbdbd;
                    width: 100%;
                    padding: 1em;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.25em;
                    font-weight: bold;
                    line-height: 1.35;
                    letter-spacing: normal;
                    text-align: left;
                }
                button{
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;
                    height: fit-content;
                    position: absolute;
                    right: 8%;
                    img{
                        border-left: 3px solid #19996c;
                        padding: 0.2rem 0 0.2rem 1rem;
                    }
                }
                ::placeholder{
                    color: #bdbdbd;     
                    font-family: 'Open Sans', sans-serif;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.35;
                    letter-spacing: normal;
                    text-align: left;
                }
            }
            header{
                display flex;                
                align-items center;
                background-color: #19996c;
                border-radius: 6px 6px 0 0;
                margin: 2.75em 0;
                padding 1em;
                p{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.125em;
                    font-weight: bold;
                    line-height: 1.56;
                    letter-spacing: normal;
                    text-align: left;
                    text-transform uppercase;
                    color: #f0f0f0;
                    margin-left 1.875em;
                }
            }
            .container-card-noticia{
                display flex;
                justify-content: space-between;
                margin-bottom: 2.25em;
                .container-imagem{
                    width: 192px;
                    background-repeat no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-right 1.875em;
                }
                .itens{
                    margin-bottom 0.75em;
                    display: flex;
                    flex-wrap: wrap;
                    .item{
                        display: flex;
                        margin: 0.5em 2em 0.5em 0;
                        img{
                            margin-right: 0.5em;
                            min-width: 18px;
                        }
                        p{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 0.875em;
                            font-weight: bold;
                            line-height: 1.36;
                            letter-spacing: normal;
                            text-align: left;
                            text-transform uppercase;
                            color: #19996c;
                        }
                    }
                }
                .resumo{
                    margin-bottom 0.5em;
                }
                .resumo, .botao{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1em;
                    font-weight: normal;
                    line-height: 1.38;
                    letter-spacing: normal;
                    text-align: left;
                    color: #19996c;
                }
                .botao{
                    font-weight: bold;
                    text-transform uppercase;
                }
            }
        }
    }   
} 

@media(max-width: 1440px){
    .container-noticia .container-pequeno{
        .container-sobre-noticia{
            width: 60%;
        }
        .barra-lateral{
            width: 35%;
        }
    }
}

@media(max-width: 1200px){

    .container-noticia .container-pequeno{
        font-size 15px;
        .container-sobre-noticia{
            width: 60%;
        }
        .barra-lateral{
            width: 35%;
            .pesquisa input{
                font-size: 1em;
            }
            .container-card-noticia .container-imagem{
                margin-right: 1em;
            }
        }
    }

}

@media(max-width: 1024px){

    .container-noticia .container-pequeno {
        .barra-lateral .container-card-noticia .container-imagem{
            display: none;
        }
        .container-sobre-noticia .container-outras-noticias{
            flex-flow: column;
            .container-outra-noticia{
                width: 100%;
                border-radius: 0;
            }
        }
    }

}

@media(max-width: 768px){
    .container-noticia .container-pequeno{
        flex-flow: column;
        .container-sobre-noticia{
            width 100%;
        }
        .barra-lateral{
            width 100%;
            .container-card-noticia .container-imagem{
                display: block;
            }
        }
    }
}

@media(max-width: 375px){
    .container-noticia .container-pequeno {
        .barra-lateral .container-card-noticia .container-imagem{
            display: none;
        }
    }
}