@import 'vars.styl';


.banner-inicial{
    height: 257px;
    background-color: $cinza_01;
    .banner-container-pai{
        width 100%;
        max-width 100%;
        height 100%;
        display: flex;
    }
}

.banner-background{
    background-position: center;
    background-repeat: norepeat;
    background-size: cover;
    height: fit-content;
    .identificador-pagina{
        padding: 0.6rem 0;
        p{
            a{
                font-family: 'Nunito', sans-serif;
                font-size: 0.875em;
                line-height: 2.71;
                font-weight: 300;
                text-align: left;
                color: $azul_01;
            }
            strong{
                font-family: 'Nunito', sans-serif;
                font-size: 0.875em;
                font-weight: 800;            
                line-height: 2.71;               
                text-align: left;
                color: $azul_01;
            }
        }    
    }
    h1{
        padding: 1rem 0 2rem 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 2em;
        font-weight: 900;
        line-height: 1.19;    
        text-align: center;
        color: $azul_01;
    }    
}

.sobre-texto{
    padding: 3rem 0;
    .container-medio{
        display: flex;
        justify-content: center;
        align-items: center;   
        .texto{
            font-family: 'Nunito', sans-serif;
            font-size: 1.25em;
            font-weight: 300;
            line-height: 1.85;
            text-align: left;
            color: #05274f;
        }
    }       
}

.container-galeria-pai{
    width: 100%;
    max-width 100%;
    margin-top: 80px;
    .container-galeria{
        width 100%;
        max-width 100%;
        margin-top: 32px;
        max-height: 400px;
        height: 400px;
        &.anime-init {
            .container-imagem {
                opacity: 1;
            }
        }
        .slick-list{ 
            height 100%;
            .slick-track{
                height 100%;
            }
        }
        .container-imagem{
            height 100%;
            padding: 0 2px;
            opacity: 0;
            * {
                transition: color 0.3s;
            }
            img{
                height 100%;
            }
        }
        .slick-dots{
            width 100%;
            max-width 100%;
            display: flex;
            justify-content: center;
            margin-top 25px;
            li{
                width: 51px;
                height: 6px;
                background-color: #b1b1b1;
                padding: 0 5px;
                transition: all .3s;
                &.slick-active{
                    background-color: #020c15;
                }
                button{
                    &::before{
                        display none;
                    }
                }
            }
        }
    }
}

.texto-pos-carrossel{
    padding: 2rem 0;
     .container-medio{
        display: flex;
        justify-content: center;
        align-items: center;   
        .texto{
            font-family: 'Nunito', sans-serif;
            font-size: 1.25em;
            font-weight: 300;
            line-height: 1.85;
            text-align: left;
            color: #05274f;
        }
    }    
}

.sobre{
    padding: 4rem 0;
    background-color: #f7f7f7;
    .container-medio{
        .titulo{
            font-family: 'Nunito', sans-serif;
            font-size: 2.1em;
            font-weight: 900;
            line-height: 1.24;
            text-align: left;
            color: $azul_01;
            padding: 4rem 0;
        }
        .todos-topicos{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            background-color: #f7f7f7;
            &.anime-init {
                .topico {
                    opacity: 1;
                }
            }
            .topico{               
                background-color: #f7f7f7;
                position: relative;
                padding: 3rem 2rem 2rem 2rem;
                width: 380px;
                height: 230px;
                opacity: 0;
                * {
                    transition: color 0.3s;
                }               
                img{
                    position: absolute;
                    top: 0;
                    left: 10px;
                    max-width: 96px;
                }  
                h1{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.125em;
                    font-weight: 900;
                    line-height: 1.5;
                    text-align: right;
                    color: $azul_01;
                    position: relative;
                    max-width: 400px;
                }
                p{
                    font-family: 'Nunito', sans-serif;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 1.33;
                    text-align: right;
                    color: $azul_01;
                    min-width: 272px;
                    position: relative;
                    max-width: 400px;
                }
            }
            .topico:nth-child({even}){
                background-color: $branco;
            }
        }
    }    
}

@media(max-width: 1024px){
    .sobre .container-medio .todos-topicos .topico{
        width: 50%;    
    }  
}

@media(max-width: 700px){
    .sobre .container-medio {
        display: flex;
        flex-flow: column;
        align-items: center;    
        .todos-topicos {
            width: 75%;
            .topico{
                width: 100%;    
            } 
        }
    }
  
}

@media(max-width: 500px){
    .sobre .container-medio { 
        .todos-topicos {
            width: 100%;
        }
    }  
}

@media(max-width: 375px){
    .sobre .container-medio .todos-topicos .topico p {
        min-width: 200px;
    }
}
