//CORES

$branco =   #ffffff;
$verde =    #abd6cb;
$verde01 =  #19996c;
$preto =    #000000;


//ELEMENTOS
linha_horizontal(comprimento = 35px, cor = $cinza_b6){
    height: 2px;
    width: comprimento;
    background-color: cor;
}

.camada-verde{
  position: relative;
  &::before{
    opacity: 0.5;
    background-color: #19996c;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}